@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: #333;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
}
a{
    color: white;
    background: linear-gradient(0deg, rgba(238,174,255,1) 0%, rgba(76,223,185,1) 100%);
    padding: 20px;
    padding-inline: 30px;
    font-size: 30px;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 0 0 15px #3b3b3b;
    transition: 0.5s;
    

}

a:hover{
    font-size: 35px;
    transition: 0.5s;
    
}
.tlo{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #333;
    z-index: -1;
    transition: 0.5s;

}
a:hover ~ .tlo{
    transition: 0.5s;
    background: rgb(255, 120, 120);
}