@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

body {
  background: url(tlo.jpg);
  backdrop-filter: blur(3px);
  height: 100vh;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 40px;
}

nav ul a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 25px rgb(43, 43, 43);
}


nav img {
  width: 300px;
}

.logo {
  align-items: center;
  display: flex;
  gap: 15px;
}

.logoikona {
  width: 70px;
}

main {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
  gap: 100px;
}

main h1 {
  font-size: 100px;
  width: 700px;
  font-weight: 800;

}

main h1::before {
  content: '';
  background: linear-gradient(90deg, rgba(255, 60, 95, 1) 0%, rgba(147, 64, 255, 1) 100%);
  position: absolute;
  width: 650px;
  height: 160px;
  filter: blur(100px);
  z-index: -1;
}


.tekstmain {
  display: grid;
  gap: 40px;

}

.zdjmain {
  border-radius: 20px;
  width: 600px;
  opacity: 70%;
}


.zdjboxmain::before {
  content: '';
  background: linear-gradient(90deg, rgba(147, 64, 255, 1) 0%, rgba(255, 60, 95, 1) 100%);
  position: absolute;
  width: 450px;
  height: 460px;
  margin-top: 70px;
  margin-left: 50px;
  filter: blur(100px);
  border-radius: 100px;
  z-index: -1;
}

main h1 span img {
  width: 550px;
}

.main {
  height: 70vh;
  display: grid;
  place-content: center;
}

@media screen and (max-width: 1420px) {
  body {
    overflow: hidden;
  }

  main h1 {
    font-size: 60px;
  }

  .zdjmain {
    width: 400px;
  }
}

@media screen and (max-width: 1180px) {
  body {
    overflow: hidden;
  }

  main {
    gap: 0px;
  }

  main h1 {
    font-size: 50px;
  }

  main h1 span img {
    width: 400px;
  }

  .zdjmain {
    width: 350px;
  }
}

@media screen and (max-width: 1080px) {
  body {
    overflow: hidden;

  }
  .logo{
    padding-top: 20px;
  }
  main {
    display: grid;
    place-items: center;
    height: 40vh;
  }

  main h1 {
    font-size: 100px;
    text-align: center;
    color: white;
  }

  main h1 span img {
    width: 500px;
  }

  .zdjboxmain {
    visibility: hidden;
  }
}
@media screen and (max-width: 685px) {
nav ul{
  display: grid;
}
  nav ul a{
    font-size: 30px;
  }

  main{
    margin-top: -200px;
  }
  main h1{
    font-size: 70px;
  }
}